    Alfresco {
       com.sun.security.auth.module.Krb5LoginModule sufficient;
    };

    AlfrescoCIFS {
       com.sun.security.auth.module.Krb5LoginModule required
       storeKey=true
       useKeyTab=true
       keyTab="/usr/local/alfresco/keytab/cifsalfresco.keytab"
       principal="cifs/alfresco.companyname.com";
    };

    AlfrescoHTTP {
       com.sun.security.auth.module.Krb5LoginModule required
       storeKey=true
       useKeyTab=true
       keyTab="/usr/local/alfresco/keytab/httpalfresco.keytab"
       principal="HTTP/alfresco.companyname.com";
    };

    ShareHTTP
    {
       com.sun.security.auth.module.Krb5LoginModule required
       storeKey=true
       debug=true
       useKeyTab=true
       doNotPrompt=true
       keyTab="/usr/local/alfresco/keytab/httpalfresco.keytab"
       principal="HTTP/alfresco.companyname.com";
    };


    com.sun.net.ssl.client {
       com.sun.security.auth.module.Krb5LoginModule sufficient;
    };

    other {
       com.sun.security.auth.module.Krb5LoginModule sufficient;
    };

